<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <script src="../static/script.js" defer></script>
    <script type="text/javascript" src="https://npmcdn.com/parse/dist/parse.min.js"></script>
    <title>Caio Oliveira</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/caio.profile (2).jpg" alt="caio-profile">
            <h1>Caio Oliveira</h1>

            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/caio-oliveira-9b66a31bb/">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/caiolliveiraa">
                    <i class="bi bi-github"></i>
                </a>

                <a target="_blank" href="https://www.instagram.com/caiolliveiraa_/">
                    <i class="bi bi-instagram"></i>
                </a>

                <a target="_blank" href="https://contate.me/caiolliveiraa">
                    <i class="bi bi-whatsapp"></i>
                </a>

            </div>

        </section>

        <section>

            <nav id="navbar" class="nav-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#sobre"><i class="bi bi-person-circle"></i>
                            Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Curriculo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato"><i class="bi bi-envelope-at"></i> Contato</a>
                    </li>

                </ul>



            </nav>

        </section>

    </aside>

    <main id="main">

        <section id="sobre" class="container mt-5 mb-5">

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>
                        Sempre fui interessado em computação, montagem e manutenção de computadores e entender o
                        funcionamento das peças e a partir desse desejo onde conhecer a programação, onde me fascinei e
                        ainda me fascino cada vez mais em que aprendo algo novo, com a programação aprendi mais que
                        programar, adquirir a cada aula e a cada curso a ser mais curioso, a pensar fora da caixa e a
                        sempre buscar soluções no meu ambiente de Trabalho que me faça otimizar tempo e ser mais
                        produtivo, atualmente ainda não trabalho com programação. Porém, busco adquirir conhecimentos e
                        habilidades em busca da minha primeira oportunidade, hoje sou participante do programa Embarque
                        Digital da prefeitura do Recife, onde fui aprovado numa bolsa na Universidade Católica de
                        Pernambuco para cursar Sistema para Internet e participar da residência Onboard realizada pelo
                        porto Digital.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/caio.profile6.jpg" alt="foto-Caio">

                </div>
                <div class="col-md-8">
                    <h3> Estudante de Sistema de Internet</h3>
                    <p>
                        Atualmente sou estudante de Sistemas para Internet e residente do porto digital onde
                        desenvolvemos durante o curso um projeto do zero, hoje possuo cursos e habilidades para o
                        desenvolvimento front-end, utilizando linguagens e frameworks como HTML, CSS, JavaScript,
                        Bootstrap, ReactJS e React-Bootstrap.
                    </p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Aniversário: <span class="fw-lighter">24 de Maio de 2000</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">22 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Recife</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Pernambuco</span>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Futebol</span>
                                </li>
                                <li class="list-group-item">
                                    Estudo: <a href="https://portal.unicap.br" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">Universidade Católica de
                                        Pernambuco </a>
                                </li>
                                <li class="list-group-item">
                                    Residência: <span class="fw-lighter"> On Board - Porto Digital</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter"> 7 meses </span>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <p>
                        Hoje possuo experiências profissionais na área administrativa voltadas para o setor de compras
                        com competências em Desenvolvimento de negócios, gestão de fornecedores, desenvolvimento de
                        parceiro, gestão de parceiros e negociações. Onde pude me desenvolver e crescer como
                        profissional e adquirir diversas soft-skills que utilizo atualmente na área de TI.
                    </p>

                </div>
            </div>

        </section>

        <section id="habilidades" class="mt-5">

            <div class="container pb-5">

                <h2 class="pt-5">Habilidades</h2>

                <p>
                    Em todo tempo como estudante de tecnologia eu adquiri algumas habilidades técnicas e não tecnicas, a
                    maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                    uma delas.
                </p>

                <div class="row">
                    <div class="col-md-6">

                        <p class="mt-3 mb-0"> HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>

                        <p class="mt-3 mb-0"> CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>

                        <p class="mt-3 mb-0"> JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>

                        <p class="mt-3 mb-0"> SQL </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>

                        <p class="mt-3 mb-0"> NoSQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <p class="mt-3 mb-0"> ReactJS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>

                        <p class="mt-3 mb-0"> Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>

                        <p class="mt-3 mb-0"> React-Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>

                        <p class="mt-3 mb-0"> NodeJS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>

                        <p class="mt-3 mb-0"> Git-GitHub</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>

                    </div>

                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">

                        <p class="mt-3 mb-0"> Trabalho em Equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0"> Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0"> Orientação e detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <p class="mt-3 mb-0"> Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                        <p class="mt-3 mb-0"> Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>

                        <p class="mt-3 mb-0"> Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                    </div>
                </div>

            </div>


        </section>

        <section id="curriculo" class="mt-5 cv">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item">
                            <h4>Tecnólogo em Sistema para Internet</h4>
                            <h5>2022-2024 (2° período)</h5>
                            <p><em>Universidade Católica de Pernambuco</em></p>
                            <p>Recebo conceitos e técnicas de programação e raciocínio lógico para contribuir na solução
                                de problemas.</p>
                        </div>

                        <div class="cv-item">
                            <h4> Residência Digital - Onboard</h4>
                            <h5>2022-2024 (2° período)</h5>
                            <p><em> Porto Digital</em></p>
                            <p>Vivenciar na prática toda a formulação e desenvolvimento de uma ideia. Começando pelo
                                amadurecimento da ideia, desenvolver o problema, buscar solução, verificar viabilidade
                                da solução proposta, divisão de tarefas, desenvolvimento do projeto e testes.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item">
                            <h4>Jovem Aprendiz - ADM</h4>
                            <h5>2019-2020</h5>
                            <p><em>Construtora Santo Antônio</em></p>
                            <p>Competências: Negociação, compras, gestão de fornecedores, desenvolvimento de parceiro e
                                Gestão de parceiros.</p>
                        </div>
                        <div class="cv-item">
                            <h4>Assistente Administrativo Pleno</h4>
                            <h5> 2022- Até o momento</h5>
                            <p><em> Nova Mobi Pernambuco</em></p>
                            <p>Competências: Compras, desenvolvimento de negócios, gestão de fornecedores,
                                desenvolvimento de parceiro, gestão de parceiros e negociações.</p>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <section id="contato" class="pt-5 pb-5">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização</h4>
                                <p> Recife, PE</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i>Email</h4>
                                <p>caiolliveiraa@outlook.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.563189234141!2d-34.93221844967278!3d-8.043887894179448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab196d6ac21273%3A0x95b9200288d3adfa!2sR.%20Waldemar%20R%C3%A9is%20do%20R%C3%AAgo%20-%20Iputinga%2C%20Recife%20-%20PE%2C%2050731-200!5e0!3m2!1spt-BR!2sbr!4v1669345595833!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

                        </div>

                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">

                        <div class="card p-5 h-100 shadow border-0">

                            <form class="row g-3">

                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
                                </div>

                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email">
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem: </label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                                        placeholder="Digite sua mensagem"></textarea>
                                </div>

                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                                </div>
                            </form>


                        </div>



                    </div>
                </div>


            </div>

        </section>

    </main>

    <footer id="footer">

        <div class="container">
            <div class="text-center">

                &copy;Copyright <strong> Caio Oliveira</strong>
            </div>
        </div>

    </footer>

</body>

</html>